/* GENERAL STYLES */
:root {
  --header-ht: 50px;
  --collapsible-ht: 24px;
  --header-pd: 10px 16px;
  --collapsible-pd: 0px 16px;
  --body-bg-color: rgb(255, 255, 255);
  --body-bg-grad: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 224, 231, 1) 60%
  );
  --header-bg-color: rgb(230, 230, 230);
  --header-bg-grad: linear-gradient(
    45deg,
    rgba(230, 230 230, 1) 0%,
    rgb(182, 182, 204) 60%
  );

  --menu-btn-wt: 20px;
  --menu-items: 3;
}

* {
  box-sizing: border-box;
}
html {
  height: auto;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--body-bg-color);
  background-color: var(--body-bg-grad);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* - - - - -HEADER- - - - - */
.page-header {
  /* outline: yellow 3px dashed; */
  display: flex;
  position: sticky;
  top: 0;
  padding: var(--header-pd);
  height: var(--header-ht);
  background-color: var(--header-bg-color);

  /* - - - - -HEADER-LOGO- - - - - */
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg-color);
  }

  .header-spacer {
    flex: 1;
  }

  .header-nav-btn {
    display: none;
    height: var(--collapsible-ht);
    width: var(--menu-btn-wt);
    background: center center no-repeat;
    background-image: url("/assets/icons/navigation/menu.png");
    background-size: contain;
    position: absolute;
    left: calc(100% - var(--menu-btn-wt) - 2px);
    border: 1px transparent;
  }

  /* - - - - -HEADER-NAV- - - - - */
  .header-nav {
    /* outline: sandybrown 2px dotted; */
    display: flex;
    flex: 1;

    ul {
      /* outline: 1px dashed green; */
      padding-left: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
      margin: 0;

      .menu-item {
        /* outline: 1px dotted salmon; */
        margin: 0px 24px;
        border: 1px transparent solid;
        background-color: var(--header-bg-color);
        &:hover {
          border-bottom: 1px solid #888;
        }
      }
    }
  }
}

/* - - - - -MEDIA QUERIES FOR COLLAPSIBLE HEADER/NAV- - - - -*/
@media screen and (max-width: 400px) {
  .collapsible {
    flex-direction: column;
    height: var(--collapsible-ht);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: transparent;

    .header-logo {
      position: static;
    }

    .header-nav-btn {
      display: inline-block;
    }

    .header-spacer {
      display: none;
    }

    .header-nav {
      flex-direction: column;
      position: relative;
      top: calc(var(--collapsible-ht) * var(--menu-items) * (-1));
      z-index: -1;

      ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
    }

    .header-logo,
    .header-nav ul .menu-item {
      min-height: var(--collapsible-ht);
      width: 100%;
      text-align: center;
      outline: 1px solid #888;
      margin: 0;
    }
  }

  /* TOGGLE NAV MENU CLASSES */
  .expandHeader {
    height: calc(var(--collapsible-ht) * (var(--menu-items) + 1));
    transition: height 1s ease-in-out;
  }
  .retractHeader {
    height: var(--collapsible-ht);
    transition: height 1s ease-in-out;
  }
  .expandMenu {
    transform: translateY(calc(var(--collapsible-ht) * var(--menu-items)));
    transition: transform 1s ease-in-out;
  }
  .retractMenu {
    transform: translateY(0px);
    transition: transform 1s ease-in-out;
  }

  .toggleMenuIcon {
    background-image: url("/assets/icons/navigation/cancel.png");
  }
}

/*  - - - - -MAIN - - - - - */
main {
  font-size: 24px;

  /*  - - - - -HOME AREA - - - - - */
  .banner-image {
    height: 100vh;
    position: relative;
    background: center center no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/images/closeup-code-on-screen--ilya-pavlov.jpg");
    z-index: -1;
    /* outline: 2px yellow dashed; */
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    /* outline: 2px lime dashed; */
  }

  .about-area,
  .skills-area,
  .contact-area {
    width: 90%;
    margin: auto;
    margin-top: 16px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 8px 14px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 8px 14px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 8px 14px -2px rgba(0, 0, 0, 0.7);

    p {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    hr {
      width: 60%;
    }
  }

  .about-area {
    background-color: rgb(233, 224, 233);
    // background-image: linear-gradient(
    //   rgba(255, 255, 255, 255.1),
    //   rgba(255, 255, 255, 0.1)
    // );
    color: rgb(22, 17, 17);

    .about-area-content {
      .about-strengths {
        display: flex;
        justify-content: center;
      }
    }
  }

  section.skills-area {
    .skills-area-content {
      display: flex;
      justify-content: space-evenly;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 100px;
          width: auto;
        }
        span {
          // color: red;
        }
      }
    }
  }
}
