/* GENERAL STYLES */
:root {
  --header-ht: 50px;
  --collapsible-ht: 24px;
  --header-pd: 10px 16px;
  --collapsible-pd: 0px 16px;
  --body-bg-color: rgb(255, 255, 255);
  --body-bg-grad: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 224, 231, 1) 60%
  );
  --header-bg-color: rgb(220, 220, 220);
  --header-text-color: mediumslateblue;
  --menu-btn-wt: 20px;
  --menu-items: 3;
}

* {
  box-sizing: border-box;
}
html {
  height: auto;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--body-bg-color);
  background-color: var(--body-bg-grad);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

/* - - - - -HEADER- - - - - */
.page-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: var(--header-pd);
  height: var(--header-ht);
  background-color: var(--header-bg-color);
  z-index: 10;
  font-size: 16px;
  /* - - - - -HEADER-LOGO- - - - - */
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg-color);
    font-family: "Racing Sans One", cursive;
    letter-spacing: 0.5rem;
    color: var(--header-text-color);
  }

  .header-spacer {
    flex: 1;
  }

  .header-nav-btn {
    display: none;
    height: var(--collapsible-ht);
    width: var(--menu-btn-wt);
    background: center center no-repeat;
    background-image: url("https://cdn4.iconfinder.com/data/icons/multimedia-75/512/multimedia-24-512.png");
    background-size: contain;
    position: absolute;
    left: calc(100% - var(--menu-btn-wt) - 2px);
    border: 1px transparent;
  }

  /* - - - - -HEADER-NAV- - - - - */
  .header-nav {
    display: flex;
    flex: 1;

    ul {
      padding-left: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
      margin: 0;

      .menu-item {
        margin: 0px 24px;
        border: 1px transparent solid;
        background-color: var(--header-bg-color);
        &:hover {
          border-bottom: 1px solid #888;
        }
        a {
          color: var(--header-text-color);
        }
      }
    }
  }
}

/* - - - - -MEDIA QUERIES FOR COLLAPSIBLE HEADER/NAV- - - - -*/
@media screen and (min-width: 1000px) {
  .page-header {
    height: calc(var(--header-ht) + 30px);
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .collapsible {
    flex-direction: column;
    height: var(--collapsible-ht);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: transparent;

    .header-logo {
      position: static;
    }

    .header-nav-btn {
      display: inline-block;
    }

    .header-spacer {
      display: none;
    }

    .header-nav {
      flex-direction: column;
      position: relative;
      top: calc(var(--collapsible-ht) * var(--menu-items) * (-1));
      z-index: -1;

      ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
    }

    .header-logo,
    .header-nav ul .menu-item {
      min-height: var(--collapsible-ht);
      width: 100%;
      text-align: center;
      outline: 1px solid #888;
      margin: 0;
    }
  }

  /* TOGGLE NAV MENU CLASSES */
  .expandHeader {
    height: calc(var(--collapsible-ht) * (var(--menu-items) + 1));
    transition: height 1s ease-in-out;
  }
  .retractHeader {
    height: var(--collapsible-ht);
    transition: height 1s ease-in-out;
  }
  .expandMenu {
    transform: translateY(calc(var(--collapsible-ht) * var(--menu-items)));
    transition: transform 1s ease-in-out;
  }
  .retractMenu {
    transform: translateY(0px);
    transition: transform 1s ease-in-out;
  }

  .toggleMenuIcon {
    background-image: url("https://cdn4.iconfinder.com/data/icons/multimedia-75/512/multimedia-26-512.png");
  }
}

/*  - - - - -MAIN - - - - - */
main {
  font-size: 24px;
  scroll-behavior: smooth;

  .about-area,
  .skills-area,
  .contact-area {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 64px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0px 8px 14px -2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 8px 14px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 8px 14px -2px rgba(0, 0, 0, 0.7);

    p {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    hr {
      width: 60%;
    }
  }

  /*  - - - - -HOME AREA - - - - - */
  .home-area {
    height: 100vh;
    position: relative;
    background: center center no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://source.unsplash.com/y0_vFxOHayg");

    .banner-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
      font-family: "Baloo Thambi 2", cursive;

      h2 {
        margin-top: 0;
      }

      .banner-btn {
        display: block;
        padding: 8px;
        width: auto;
        border: 2px solid #ffffff;
        background-color: transparent;
        color: white;
        &:hover {
          background-color: dodgerblue;
        }
      }
    }
  }

  /*  - - - - -ABOUT AREA - - - - - */

  .about-area {
    background-color: rgb(233, 224, 233);
    color: rgb(22, 17, 17);

    .about-area-content {
      .about-strengths {
        display: flex;
        justify-content: center;
      }
    }
  }

  /*  - - - - -SKILLS AREA - - - - - */

  section.skills-area {
    .skills-area-content {
      display: flex;
      justify-content: space-evenly;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        img {
          height: 100px;
          width: 150px;
        }
      }
    }

    // Skills Area Media Queries
    @media screen and (max-width: 600px) {
      .skills-area-content {
        li {
          display: flex;
          justify-content: space-around;
          img {
            height: 70px;
            width: 70px;
          }
        }
      }
    }
    @media screen and (max-width: 400px) {
      .skills-area-content {
        li {
          img {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  /*  - - - - - CONTACT AREA - - - - - */

  .contact-area {
    .contact-area-content {
      .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: auto;
        input,
        textarea {
          flex: 1;
          padding: 8px;
          margin-bottom: 32px;
          border: transparent;
          border-bottom: 1px solid #aaa;
          &:hover {
            border-color: #777;
          }
        }
        .btn-wrapper {
          flex: 1;
          text-align: center;

          .submit-btn {
            width: 100%;
            border: 1px solid #aaa;
            padding: 16px;
            margin-top: 16px;
            max-width: 600px;
            letter-spacing: 0.5em;
            font-weight: 700;
            font-size: 16px;
            background-color: #eaeaea;
            &:hover {
              background-color: dodgerblue;
              color: white;
            }
          }
        }
      }
    }
  }

  /*  - - - - - FOOTER - - - - - */

  footer {
    height: 15vh;
    margin-top: 82px;
    background-color: #dcdcdc;

    .footer-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .social-media-links {
        flex: 1;
        height: 100%;
        margin: 0;
        a {
          flex: 1;
          height: 100%;
          background: center center no-repeat
            url("https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png");
          background-size: 50px;
          &.gmail {
            background-image: url("https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_gmail-128.png");
          }
          &.linkedin {
            background-image: url("https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/linkedin-512.png");
          }
          &.slack {
            background-image: url("https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Slack-128.png");
          }
        }
        ul {
          display: flex;
          margin: 0;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          padding: 8px;
          li {
            display: flex;
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }
        }
      }
      .copyright-text {
        padding: 16px;
        text-align: center;
        word-spacing: 0.2rem;
        background-color: #dcdcdc;
      }
    }
  }

  /*  - - - - - MAIN MEDIA QUERIES - - - - - */

  @media screen and (max-width: 400px) {
    font-size: 16px;
    .about-area,
    .skills-area,
    .contact-area {
      width: 90%;
      margin: auto;
      margin-top: 32px;
      padding: 16px;

      p {
        width: 90%;
      }

      hr {
        width: 60%;
      }
    }
  }
}
